@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: E5E5E5;
}

#cabecalho {
  display: flex;
  justify-content: space-around;
}

#cabecalho img {
  margin-right: 10px;
}

#cabecalho h1 {
  color: rgba(68, 89, 100, 1);
  width: 250px;
  font-size: 36px;
}

#cabecalho nav {
  width: 60%;
  margin-top: 30px;
}

#cabecalho ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#cabecalho nav li a{
  color: rgba(68, 89, 100, 1);
}

a {
  text-decoration: none;
}

p{
  color: rgba(68, 89, 100, 1);
}

#dev_web{
  width: 560px;
}

.img_icon {
  width: 45px;
}

.container1 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#img_formacao {
  width: 500px;
}

.text_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer {
  text-align: center;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


#text_principal p {
  font-size: medium;
}

#party_strong {
  font-size: 42px;
}

.primeira_palavra {
  color: rgba(38, 49, 56, 1);
}

.title_main {
  color: rgba(68, 89, 100, 1);
  text-align: center;
}

#I {
  width: 500px;
  margin-left: 40px;
}

.paragrafo_simples {
  font-size: medium;
  text-align: center;
}

.sobre {
  width: 50%;
}

#formacao_academica {
  list-style-type: none;
  font-size:22px;
  color: rgba(68, 89, 100, 1);
}

#formacao_academica li {
  margin-top: 6px;
}

.img_formacao {
  width: 120px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 89, 100, 0.4) ;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.card h4 {
  margin: 10px;
}

.card a {
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color:  rgba(38, 49, 56, 0.5) ;
  color: #fff;
}

.card .img {
  display: flex;
  justify-content: center;
}

.card .img img{
  margin-top: 20px;
  width: 190px;
  border-radius: 20px;
  border: solid black;
}

#img_appreceitas {
  width: 90px;
}

#img_trybetunes {
  width: 250px;
  height: 180px;
}

.my_projects {
  display: flex;
  justify-content: center;
}

#todolist {
  width: 250px;
  height: 180px;
}
